[submodule "embodied-ai-toolkit"]
	path = embodied-ai-toolkit
	url = https://github.com/cnboonhan/embodied-ai-toolkit.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "humanoid-joint-teleop"]
	path = humanoid-joint-teleop
	url = https://github.com/cnboonhan-htx/humanoid-joint-teleop.git
